@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);

body
{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	padding: 0;
}

.collapsed {
    display: none;
}
.order {
    background-color: #fcefba;
}

.customer_entry_container
{
	background: #ff0000;
	text-align: center;
	height: 50px;
	padding: 10px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	position: fixed;
	top: 0 !important;
	left: 0;
	margin: 0;
	width: 100%;
	font-size: 66.66666666666672%;
	text-transform: uppercase;
	color: #fff;
	font-weight: 400 !important;
	z-index: 100;
}

.btn
{
	background: #fff;
	color: #000;
	font-size: 100%;
	font-weight: 400;
	float: none;
}

.btn:hover
{
	background: #000;
	color: #fff;
}

#customer_form_btn
{
	margin-left: 25px;
	border: none;
	padding: 8px 35px;
}

#custom_header
{
	margin-top: 50px;
	padding-top: 105px;
	background: url(../img/header.jpg) no-repeat center;
	background-size: cover;
	height: 500px;
	position: relative;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 77.77777777777784%;
	color: #fff;
}

#custom_header > .main_container
{
	width: 1170px;
	margin: 0 auto 0;
	position: relative;
}

.left
{
	float: left;
}

#custom_header .left
{
	margin-top: 50px;
}

#custom_header > .main_container > div
{
	margin: 0 65px 0 275px;
	text-align: left;
}

h1
{
	font-size: 313.55555555555581%;
	font-weight: 300;
	margin: 0;
	text-transform: uppercase;
}

#custom_header h1
{
	font-size: 403.14285714285698%;
}

h2
{
	font-size: 216.77777777777795%;
	font-weight: 300;
	margin: 0;
	color: red;
	text-transform: uppercase;
}

#custom_header h2
{
	font-size: 278.7142857142856%;
}