<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel"><%= _.aa.locale.customer_entry_header %></h4>
        </div>

        <div class="modal-body">

            <form id="contactForm" action='https://support.zoho.com/support/WebToCase' method='POST' class="form-vertical">
                <input type='hidden' name='xnQsjsdp' value=FyANna-CGO1thYo*kRl79w$$/>
                <input type='hidden' name='xmIwtLD' value=w6UeJz4Nz5OalCZe8C6Cm51GFBCUjBoL/>
                <input type='hidden' name='actionType' value=Q2FzZXM=/>
                <input type='hidden' name='Department' value='d443ae9394e0d7275710439f27d48b29f3148ec5bcd90913'/>
                <input type='hidden' maxlength='120' name='Subject' value="Anfrage: <%= _.aa.config.name.value %>" />
                <input type='hidden' maxlength='120' name='Produkt' value="<%= _.aa.config.name.value %>" />
                <select name='Status' class="hide">
                    <option value='Open'>Open</option>
                </select>
                <select name='Lead-Source' class="hide">
                    <option value='App-Arena.com - Produktdetailseite'>App-Arena.com - Produktdetailseite</option>
                </select>
                <input type='hidden' maxlength='120' name='Formular-auf-Seite' value="<%= _.aa.config.product_url.value %>" />
                <input type='hidden' maxlength='120' name='Referer' value="<%= window.location.href %>" />
                <input type='hidden'  maxlength='120' name='Due Date' value="<%= new Date() %>" />
                <select name='Due Datehour' class="hide">
                    <option value='01'>01</option>
                </select>
                <select name='Due Dateminute' class="hide">
                    <option value='00'>00</option>
                </select>
                <select name='Due Dateampm' class="hide">
                    <option value='PM'>PM</option>
                </select>
                <select name='Priority' class="hide">
                    <option value='Medium'>Medium</option>
                </select>
                <input type='hidden' name='returnURL' value='https://develop.app-arena.com' />

                <div class="control-group">
                    <div class="controls controls-row row">
                        <label class="control-label span1"><%= _.aa.locale.gender %></label>
                        <label class="control-label span2"><%= _.aa.locale.first_name %></label>
                        <label class="control-label span3"><%= _.aa.locale.last_name %></label>
                    </div>
                    <div class="controls controls-row">
                        <select id="contact-gender" name='Geschlecht' class="span1">
                            <option value='Herr'><%= _.aa.locale.gender_male %></option>
                            <option value='Frau'><%= _.aa.locale.gender_female %></option>
                        </select>
                        <input class="span2" type='text' maxlength='120' name='First Name' placeholder="<%= _.aa.locale.first_name %>" />
                        <input class="span3" type='text' maxlength='120' name='Contact Name' placeholder="<%= _.aa.locale.last_name %>" />
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls controls-row row">
                        <label class="control-label span3"><%= _.aa.locale.company %></label>
                        <label class="control-label span3"><%= _.aa.locale.email %></label>
                    </div>
                    <div class="controls controls-row">
                        <input class="span3" type='text' maxlength='120' name='Firma' placeholder="<%= _.aa.locale.company %>" />
                        <input class="span3" type='text' maxlength='120' name='Email' placeholder="<%= _.aa.locale.email %>" />
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls controls-row row">
                        <label class="control-label span3"><%= _.aa.locale.phone %></label>
                    </div>
                    <div class="controls controls-row">
                        <input class="span3" type='text' maxlength='120' name='Phone' placeholder="<%= _.aa.locale.phone %>" />
                        <label class="checkbox span3">
                            <input type='checkbox' name='Praesentation-zusenden' /> <%= _.aa.locale.get_presentation %>
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"><%= _.aa.locale.your_request %></label>
                    <div class="controls">
                        <textarea class="span6" rows="5" name='Description' maxlength='30000' onclick="this.focus();this.select()"><%= _.aa.locale.more_product_info.replace( '%s', _.aa.config.name.value ) %></textarea>
                    </div>
                </div>
            </form>

        </div>

        <div class="modal-footer">
            <button id="send_request" type="button" class="btn btn-primary">
                <%= _.aa.locale.custom_entry_btn_send %>
            </button>
        </div>
    </div>
</div>