<div class="modal-dialog">
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel"><%= _.aa.locale.customer_entry_header %></h4>
    </div>

    <div class="modal-body">

        <div id='zohoWebToLead' align=center>

            <form id="contactForm" action='https://support.zoho.com/support/WebToCase' method='POST'>

                <input type='hidden' name='xnQsjsdp' value=FyANna-CGO1thYo*kRl79w$$/>
                <input type='hidden' name='xmIwtLD' value=w6UeJz4Nz5OalCZe8C6Cm51GFBCUjBoL/>
                <input type='hidden' name='actionType' value=Q2FzZXM=/>
                <input type='hidden' name='Department' value='d443ae9394e0d7275710439f27d48b29f3148ec5bcd90913'/>
                <input type='hidden' name='returnURL' value='https://develop.app-arena.com'/> <br>

                <strong>Web Form</strong>


                First Name &nbsp;&nbsp;:

                <input type='text' maxlength='120' name='First Name'/>


                Last Name &nbsp;&nbsp;:

                <input type='text' maxlength='120' name='Contact Name'/>


                Email &nbsp;&nbsp;:

                <input type='text' maxlength='120' name='Email'/>


                Phone &nbsp;&nbsp;:

                <input type='text' maxlength='120' name='Phone'/>


                Subject &nbsp;&nbsp;:

                <input type='text' maxlength='120' name='Subject'/>


                Description &nbsp;&nbsp;:

                <textarea name='Description' maxlength='30000' width='250'
                          height='250'></textarea>


                Status &nbsp;&nbsp;:

                <select name='Status'>
                    <option value='Open'>Open</option>
                </select>


                Lead-Source &nbsp;&nbsp;:

                <select name='Lead-Source'>
                    <option value='App-Arena.com - Produktdetailseite'>App-Arena.com - Produktdetailseite
                    </option>
                </select>


                Produkt &nbsp;&nbsp;:

                <input type='text' maxlength='120' name='Produkt'/>


                Formular-auf-Seite &nbsp;&nbsp;:

                <input type='text' maxlength='120' name='Formular-auf-Seite'/>


                Praesentation-zusenden &nbsp;&nbsp;:

                <input type='checkbox' name='Praesentation-zusenden'/>


                Referer &nbsp;&nbsp;:

                <input type='text' maxlength='120' name='Referer'/>


                Firma &nbsp;&nbsp;:

                <input type='text' maxlength='120' name='Firma'/>


                Due Date &nbsp;&nbsp;:

                <input type='text' maxlength='120' name='Due Date'/>dd.MM.yyyy <select
                    name='Due Datehour'>
                <option value='01'>01</option>

                </select>&nbsp;<select name='Due Dateminute'>
                    <option value='00'>00</option>
                    <option value='01'>01</option>

                </select>&nbsp;<select name='Due Dateampm'>
                    <option value='AM'>AM</option>
                    <option value='PM'>PM</option>
                </select>

                    Priority &nbsp;&nbsp;:

                <select name='Priority' class="hide">
                    <option value='Medium'>Medium</option>
                </select>


            </form>
        </div>

    </div>

    <div class="modal-footer">
        <button id="send_request" type="button" class="btn btn-primary"><%= _.aa.locale.custom_entry_btn_send %>
        </button>
    </div>
</div>
</div>