<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel"><%= _.aa.locale.customer_entry_header %></h4>
        </div>

        <div class="modal-body">

            <form id="contactForm" action='../ajax/former.php' method='POST'>
                <input type='hidden' name='returnURL' value='https://develop.app-arena.com'/>
                <input type='hidden' maxlength='120' name='z_subject' value="Anfrage: <%= _.aa.config.name.value %>" />
                <input type='hidden' maxlength='120' name='c_23342311' value="<%= _.aa.config.name.value %>" />


                <div class="form-row">
                  <label class="control-label span2"><%= _.aa.locale.name %>*</label>
                  <input class="span2" type='text' maxlength='120' name='z_name' />
					 </div>
                <div class="form-row">
                	<label class="control-label span3"><%= _.aa.locale.company %></label>
                	<input class="span3" type='text' maxlength='120' name='c_23352752'  />
                </div>
                <div class="form-row">
                	<label class="control-label span3"><%= _.aa.locale.email %>*</label>
                	<input class="span3" type='text' maxlength='120' name='z_requester' />
                </div>
                <div class="form-row">
                	<label class="control-label span3"><%= _.aa.locale.phone %></label>
                	<input class="span3" type='text' maxlength='120' name='c_23367532' />
                </div>
                <div class="form-row">
                	 <label class="checkbox span3">
                      <input type='checkbox' name='c_23348531' /> <%= _.aa.locale.get_presentation %>
                   </label>
                </div>
                <div class="form-row">
                	<label class="control-label"><%= _.aa.locale.your_request %></label>
                	<textarea class="span6" rows="5" name='z_description' maxlength='30000' onclick="this.focus();this.select()"><%= _.aa.locale.more_product_info.replace( '%s', _.aa.config.name.value ) %></textarea>
                </div>
               <small class="help-block"><%= _.aa.locale.form_required_text %></small>
            </form>

        </div>

        <div class="modal-footer">
            <button id="send_request" type="button" class="btn btn-primary">
                <%= _.aa.locale.custom_entry_btn_send %>
            </button>
        </div>
    </div>
</div>