<a class='list-group-item manipulate' id="<% print(id); %>">
    <div class='row show-grid'>
         <div class='col-1 photos'>
             <img class="insert-image" src="<% print('https://graph.facebook.com/'+ id + '/picture?type=square'); %>" >
         </div>
         <div class='col-4 fans-pages-names'>
             <p class="insert-name"><% if (typeof(attributes.name) == "undefined") {print('no data for name');} else {print(attributes.name);} %></p>
         </div>
         <div class='col-3 likes'>
             <div class='badge'><p class="insert-likes"><% if (typeof(attributes.likes) == "undefined") {print('no data for likes');} else {print(attributes.likes);} %></p></div>
             <i class='icon-thumbs-up-alt' style='font-size:large;'></i>
         </div>
         <div class='col-3 talks-about'>
             <div class='badge'><p class="insert-talks-about"><% if (typeof(attributes.talking_about_count) == "undefined") {print('no data for talking_about_count');} else {print(attributes.talking_about_count);} %></p></div>
             <i class='icon-comments-alt' style='font-size:large;'></i>
         </div>
         <div class="col-1">
            <i class='icon-collapse collapse-expand' style='font-size:xx-large;'></i>
         </div>
    </div>
    <div class='row show-grid'>
        <div class="col-12 additional collapsed insert-description"><% if (typeof(attributes.description) == "undefined") {print('no data for description');} else {print(attributes.description);} %></div>
    </div>

    <div class='row show-grid'>
        <div class="col-1 col-6 additional collapsed insert-graph1" id="<% print('chart_likes_' + id); %>" style="float:left; width:500px; height: 220px"></div>
        <div class="col-1 col-6 additional collapsed insert-graph2" id="<% print('chart_talking_about_count_' + id); %>" style="width:500px; height: 220px;"></div>
    </div>
</a>


