<div class='list-group-item manipulate' id="<% print(id); %>">
    <div class='row show-grid'>
         <div class='col-12 fans-pages-names'>
             <p class="insert-name"><% if (typeof(attributes.name) == "undefined") {print('no data for name');} else {print(attributes.name);} %></p>
         </div>
    </div>
    <div class='row show-grid'>
         <div class='col-1 photos'>
             <img class="insert-image" src="<% print('https://graph.facebook.com/'+ id + '/picture?type=square'); %>" >
         </div>
         <div class='col-3 likes'>
         	<a href="http://App-Arena.com/" class="seo-link" title="More Likes with App-Arena.com">More Likes with App-Arena.com</a>
             <i class='large-icon'></i>
             <p class="insert-likes"><% if (typeof(attributes.likes) == "undefined") {print('no data for likes');} else {print(attributes.likes);} %></p>
         </div>
         <div class='col-3 talks-about'>
         	<a href="http://App-Arena.com/" class="seo-link" title="More Talks with App-Arena.com">More Talks with App-Arena.com</a>
             <i class='large-icon'></i>
             <p class="insert-talks-about"><% if (typeof(attributes.talking_about_count) == "undefined") {print('no data for talking_about_count');} else {print(attributes.talking_about_count);} %></p>
         </div>
         <div class="col-1 expand">
             <div class="pull-left"><i class='icon-collapse collapse-expand xx-large-icon' name="<% print(id); %>">&nbsp</i></div>
             <div class="<% print('row-spinner-' + id); %> collapsed"><i class='icon-spinner icon-spin icon-large'></i></div>
         </div>
    </div>

    <div class='row show-grid show-graph'>
        <div class="col-6 additional collapsed insert-graph1" id="<% print('chart_likes_' + id); %>"></div>
        <div class="col-6 additional collapsed insert-graph2" id="<% print('chart_talking_about_count_' + id); %>"></div>
    </div>
    <div class='row show-grid'>
        <div class="col-12 additional collapsed insert-description"><% if (typeof(attributes.description) == "undefined") {print('no data for description');} else {print(attributes.description);} %></div>
    </div>
</div>


